body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: minmax(200px, 220px) 1fr 1fr 1fr;
  grid-template-rows: 100px auto 200px;
  grid-template-areas:
    'header header header header'
    'nav main main .'
    '. main main .'
    'footer footer footer footer';
}

@media only screen and (max-width: 900px) {
  body {
    grid-template-areas:
      'header header header header'
      'nav main main main'
      'footer footer footer footer';
  }
}

@media only screen and (max-width: 600px) {
  body {
    grid-template-areas:
      'main main main main'
      'main main main main'
      'main main main main'
      'footer footer footer footer'
      'header header header header'
      'nav nav nav nav';
  }
}

header {
  background-color: #127378;
  grid-area: header;
}

main {
  background-color: #782a12;
  grid-area: main;
}

nav {
  background-color: #781278;
  grid-area: nav;
}

footer {
  background-color: #1c7812;
  grid-area: footer;
}
