header {
  display: flex;
  justify-content: space-between;

  background: #333333;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-links a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
}

/* main styles */
main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
  justify-content: center;

  max-width: 1000px;
  margin: auto;
}

/* card styles */
.card {
  background: #76b900;
  width: 300px;
  height: 200px;
  padding: 1rem;
}

.card h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.card-3 {
  order: -1;
  flex-shrink: 2;
}

.card-5 {
  order: 2;
}
