/* select by tag name */
a {
  color: #5f8670;
}

h1 {
  color: #b80000;
}

/* select by class */
.text-color {
  color: #ff9800;
}

.bg-color-dark {
  background: rgb(111, 111, 111);
}

/* select by id */
#name {
  color: #820300;
}

/* -------- other methods -------- */
/* select multiple elements at once */
p,
h1 {
  font-family: Arial, Helvetica, sans-serif;
}

/* select all elements in HTML */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* select all elements in a specific element */
.bg-color-dark a {
  color: #baf9ff;
}
