@use './variables' as *;
@use './mixins' as *;

.header {
  display: flex;
  justify-content: space-between;
  background-color: $primary-bg;
  color: $primary-color;
  font-size: 3rem;

  @include phone-only {
    background-color: blue;
  }

  &__nav {
    background-color: aqua;
  }

  &__link {
    color: #268b9d;
    text-decoration: none;

    @include phone-only {
      color: #390d57;
    }

    &:hover {
      color: #0d4c57;
    }

    &--active {
      color: #0d4c57;
      font-weight: bold;
    }

    &--disabled {
      color: #ccc;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
