@use './variables' as *;
@use './mixins' as *;

.container {
  width: 100%;
  max-width: 1200px;
  margin: 3rem auto 0;
  padding: 0 20px;
  background-color: $primary-bg;
  color: $primary-color;

  @include phone-only {
    background-color: red;
  }

  @include tablet-portrait-up {
    background-color: green;
  }

  &__intro {
    @include section-title;
  }

  &__about {
    @include section-title;
    margin-top: 1rem;
  }
}
