$mobile-screen: 700px;
$tablet-screen: 900px;

@mixin section-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  letter-spacing: 3px;
}

@mixin phone-only {
  @media screen and (max-width: $mobile-screen) {
    @content;
  }
}

@mixin tablet-portrait-up {
  @media screen and (min-width: #{$mobile-screen + 1px}) and (max-width: $tablet-screen) {
    @content;
  }
}
